@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.top, .button {
	display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.menu {
	align-self: center;
	word-spacing: 30px;
}

.menuBotton {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.section-text {
	display: flex;
}

.section-img {
	background-color: rgba(227, 246, 241, 0.6);
}

.footer {
	display: flex;
    list-style-type: none;
}

.background {
    background: url(../img/apples.jpg) no-repeat;
    background-size: cover;
    height: 500px;
}

.logo {
	color: #FFF;
    font-family: sans-serif;
    font-size: 14px;
   text-transform: uppercase;
   font-weight: lighter;
}

nav a {
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 13px;
}

nav a:hover {
	color: #91ac27;
}

.black {
	font-stretch: condensed;
    text-transform: uppercase;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    letter-spacing: 10px;
    margin-top: 110px;
    margin-bottom: 1px;
}

.spans {
	font-size: 60px;
}

.logo-botton {
	margin-top: 1px;
    color: white;
    font-family: sans-serif;
    font-size: 10px;
}

.top-button {
	background-color: rgba(0, 0, 0, 0.2);
    border: #FFF solid 1px;
    color: white;
    font-size: 10px;
    height: 40px;
    width: 150px;
    position: sticky;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10%;
}

.left-text, .right-text {
	flex: 50%;
	margin-top: 90px;
    margin-bottom: 50px;
    font-family: sans-serif;
}

.left-text {
	padding-left: 20px;
   	word-spacing: 2px;
}

.right-text {
	padding-right: 20px;
	padding-left: 50px;
   	font-size: 12px;
}

h2 {
	text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    padding-top: 50px;
    padding-bottom: 50px;
}

.one {
	display: flex;
	padding-bottom: 15px;
}

#imgSample, #img2Sample, #img3Sample, #img4Sample {
	width: 60%;
}

.textSample {
	text-align: center;
    margin-top: 80px;
    font-family: sans-serif;
    font-size: 13px;
    padding-right: 20px;
    padding-left: 10px;
    transform: translate(-30px, 0px);
}

.imgText {
	color: white;
    font-family: sans-serif;
    font-size: 13px;
    position: absolute;
   	align-self: flex-end;
   	transform: translate(15px, -5px);
}

.img1-button {
	background-color: rgba(0, 0, 0, 0.2);
    border: #FFF solid 1px;
    color: white;
    font-size: 10px;
    height: 20px;
    width: 10%;
    position: sticky;
    right: 42%;
   	transform: translate(0px, 10px);
  }

.two {
	display: flex;
    flex-direction: row-reverse;
    padding-bottom: 15px;
}

.twoImg {
	color: white;
    font-family: sans-serif;
    font-size: 13px;
    position: absolute;
    align-self: flex-end;
    transform: translate(-15px, -5px);
}

.twoButton {
	background-color: rgba(0, 0, 0, 0.2);
    border: #FFF solid 1px;
    color: white;
    font-size: 10px;
    height: 20px;
    width: 5%;
    position: absolute;
   	transform: translate(-30%, 40%);
}

.text2Sample {
	text-align: center;
    margin-top: 80px;
    font-family: sans-serif;
    font-size: 13px;
    padding-right: 20px;
    padding-left: 10px;
}

.three {
	display: flex;
	padding-bottom: 15px;
}

.threeImg {
	color: white;
    font-family: sans-serif;
    font-size: 13px;
    position: absolute;
    align-self: flex-end;
    transform: translate(15px, -5px);
}

.threeButton {
	background-color: rgba(0, 0, 0, 0.2);
    border: #FFF solid 1px;
    color: white;
    font-size: 10px;
    height: 20px;
    width: 10%;
    position: sticky;
    right: 42%;
    transform: translate(0px, 10px);
}

.text3Sample {
	text-align: center;
    margin-top: 80px;
    font-family: sans-serif;
    font-size: 13px;
    padding-right: 20px;
    padding-left: 10px;
    transform: translate(-30px, 0px);
}

.four {
	display: flex;
    flex-direction: row-reverse;
    padding-bottom: 15px;
}

.fourImg {
	color: white;
    font-family: sans-serif;
    font-size: 13px;
    position: absolute;
    align-self: flex-end;
    transform: translate(-15px, -5px);
}

.fourButton {
	background-color: rgba(0, 0, 0, 0.2);
    border: #FFF solid 1px;
    color: white;
    font-size: 10px;
    height: 20px;
    width: 5%;
    position: absolute;
    transform: translate(-30%, 40%);
}

.text4Sample {
	text-align: center;
    margin-top: 80px;
    font-family: sans-serif;
    font-size: 13px;
    padding-right: 20px;
    padding-left: 10px;
}


#subscribe-wrapper {
	
	display: flex;
    padding: 5%;
}

.bodyFooter {
	width: 30%;
    text-align: center;
    font-family: sans-serif;
}

.bodySpan {
	font-weight: bold;
}

.bodyFooterInput {
	display: flex;
    width: 60%;
}

#subscribe {
	width: 15%;
    background-color: black;
    border-style: none;
    color: white;
}

li {
	padding: 15px;
}

h3 {
	font-family: sans-serif;
    font-weight: lighter;
}

.footer1, .footer2 {
	color: grey;
    font-family: sans-serif;
    font-size: 15px;
}

.footer2 {
	color: grey;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-style: italic;
}

address {
	color: grey;
    font-family: sans-serif;
    font-size: 15px;
}

.contact {
	color: grey;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
}


.contact2 {
	color: grey;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.contact3 {
	color: grey;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.footer3 {
	color: grey;
    font-family: sans-serif;
    font-size: 15px;
}

.footerSpan {
	display: flex;
    height: 15%;
    padding-top: 10px;
}

.footerInput2 {
	border-color: black;
    border-width: 1px;
}

#subscribeF {
	background-color: black;
    border-style: none;
    color: white;
}

.footerFooter {
	color: gray;
    font-family: sans-serif;
    font-size: 15px;
}

.class1, .class2, .class3, .class4 {
	color: black;
}

.class1:hover, .class2:hover, .class3:hover, .class4:hover {
	color: grey;
}

@media screen and (max-width: 900px) {
	* {
	padding: 0;
	margin: 0;
}
    .bodyFooterInput {
    height: 30px;
    align-self: center;
    }
    #subscribe {
    height: 36px;
    align-self: center;
}
}
@media screen and (max-width: 700px) {
    .bodyFooterInput {
    height: 30px;
    align-self: center;
    }
    #subscribe {
    height: 36px;
    align-self: center;
}
    .footer {
    flex-direction: column;
}
}